.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 25px
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white !important;
  padding: 10px 10px 10px 0px;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: gray;
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffff;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


